<!-- MermaidJS support -->
{{ if (.Params.mermaid) }}
<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
</script>
{{ end }}

{{ if (.Params.mathjax) }}
{{ partial "mathjax_support.html" . }}
{{ end }}

{{ if (.Params.vega) }}
<script src="https://cdn.jsdelivr.net/npm/vega@6.2.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@6.4.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@7.0.2"></script>
{{ end }}
